name: Test Build the Docs

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: "ubuntu-22.04"
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - name: Set up MPI
        uses: mpi4py/setup-mpi@v1

      - name: Install docs dependencies
        run: |
          python -m pip install --upgrade pip
          # If you have extras for docs, use this:
          python -m pip install ".[docs]"
          # Otherwise, something like:
          # python -m pip install . sphinx sphinx-autodoc-typehints ...
          python -m pip list

      - name: Build the docs
        working-directory: docs
        run: make html
