name: Regression Test - Python

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: mpich

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip list
          
      - name: Regression Test - Python
        run: |
          cd test/regression
          python run.py
