name: Unit Tests

on:
  push:
  pull_request:

jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: pip

      - name: Show environment info
        run: |
          pwd
          ls
          python --version
          pip --version

      - name: Set up MPI
        uses: mpi4py/setup-mpi@v1

      - name: Install mpi4py
        run: |
          pip install --upgrade pip
          pip install --no-binary=mpi4py mpi4py

      - name: Install MC/DC
        run: |
          pip install -e .[dev]
          pip list

      - name: Run unit tests
        run: pytest
